version: "3.9"

services:
  web1:
    build: ./web
    container_name: os-web1
    hostname: web1
    restart: unless-stopped
    depends_on:
      - redis
    networks:
      - app-net

  web2:
    build: ./web
    container_name: os-web2
    hostname: web2
    restart: unless-stopped
    depends_on:
      - redis
    networks:
      - app-net

  redis:
    build: ./redis
    container_name: os-redis
    hostname: redis
    restart: unless-stopped
    volumes:
      - redis-data:/data        # Persistencia de redis
    networks:
      - app-net

  nginx:
    build: ./nginx
    container_name: os-nginx
    hostname: nginx
    restart: unless-stopped
    depends_on:
      - web1
      - web2
    ports:
      - "5000:80"
    networks:
      - app-net

networks:
  app-net:
    driver: bridge

volumes:
  redis-data:
